@model IEnumerable<BookCar.Models.Customer>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

  

<ul>
    @{
        @*if (Model.customers.Count == 0)
            {<text>We dont have any customers yet</text>}*@
    }
    <th>Customers</th>
    <th>Membership</th>
    <table>
        @foreach (var customer in Model)
        {
            <tr>

                <td>@Html.ActionLink(customer.Name, "Edit", "Customers", new { Id = customer.Id }, null)</td>

                <td>@customer.MembershipType.Name</td>
            </tr>
        }

    </table>


</ul>



